PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bibliotheque
DEVICE_KEY=ma_cle_device_secrete

JWT_SECRET=une_longue_chaine_aleatoire_a_generer
JWT_EXPIRES_IN=15m
REFRESH_EXPIRES_DAYS=7
